@{
    ViewData["Title"] = "Doc Codigo";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h1>Classe Program</h1>
    <img src = "~/img/ClasseProgram.jpg" >
</p>

<p>
    <h1>Classe elevador</h1>
    <img src = "~/img/ClasseElevador.jpg" >
</p>
