@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        as primeiras coisas definidas na classe elavador e definir as variaveis e atributos
    </p>   
    <ul>
        <li>CapacidadeTotal: iniciada com um valor de 15</li>
        <li>TotalDeAndaresDoPredio: iniciada com um valor de 20 </li>
        <li>andarAtual: iniciado com o valor 0, por que o elevador inicialmente está parado no terreo </li>
        <li>andarDesejado: sem valor iniciado com zero pois receberado do usuario o anda desejado</li>
        <li>qtdPessoas: sem valor iniciado pois ira receber a quatidade de pessoas no elevador </li>
    </ul>
    <p>
        Ao iniciar o elevador o primeiro metodo Chamado é o de entra pois e a primeira coisa que fazemos quando vamos pega um elevado
        ao iniciar será pedido a quantidade de pessoas que irão entra conforme imagem
        <img src = "~/img/entra.jpg">
    </p>
    <p>
        Depois que colocamos as informaçoes de quanto pessoas irão entrar aparecer um menu para que podemos escolher a ação do elevador 
        se ira subir e descer...
        <img src = "~/img/MenuSelecao.jpg">
    </p>
    <p>
        Agora Selecionamos o andar... 
        <img src = "~/img/SelecionarAndar.jpg">
        Observação: caso o usuario selecione o descer no inicio o programa ira informar que ele está já no terreo impedindo de descer.
        isso se dá também quando o elevador estive no ultimo andar e o usuario selecionar que quer subir.
    </p>
    <p>
        Ao chegar no destino do usuario ele ira pergunta quantas pessoas desceram no andar desejado. Ele também ira perguntar se no andar entrou alguém e quantos entraram.
        <img src = "~/img/quantasPessoasSairam.jpg">
    </p>
    <p>
        Nesta etapa ele pergunta novamente pro usuario o que ele que fazer se quer subir ou descer 
        <img src = "~/img/SelecionaDenovoAcaoDoElevador.jpg">
    </p>
    <p>
        Caso o usuario desçar até o terreo e desçar todas as pessoas ele pode finalizar o levador 
        <img src = "~/img/Finalizar.jpg">
    </p>
    
</div>
