@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        as primeiras coisas definidas na classe elavador e definir as variaveis e atributos
        
        <ul>
            <li>CapacidadeTotal: iniciada com um valor de 15</li>
            <li>TotalDeAndaresDoPredio: iniciada com um valor de 20 </li>
            <li>andarAtual: iniciado com o valor 0, por que o elevador inicialmente está parado no terreo </li>
            <li>andarDesejado: sem valor iniciado com zero pois receberado do usuario o anda desejado</li>
            <li>qtdPessoas: sem valor iniciado pois ira receber a quatidade de pessoas no elevador </li>
        </ul>
        Ao iniciar o elevador o primeiro metodo Chamado é o de entra pois e a primeira coisa que fazemos quando vamos pega um elevado
        ao iniciar será pedido a quantidade de pessoas que irão entra conforme imagem
        <img src = ~/>
    </p>
</div>
